addict==2.4.0
contourpy==1.1.1
cycler==0.12.1
einops==0.6.1
fonttools==4.43.1
imageio==2.31.5
importlib-resources==6.1.0
kiwisolver==1.4.5
matplotlib==3.8.0
mmcv-full==1.7.1
numpy==1.24.3
opencv-python==4.7.0.72
packaging==23.1
pyparsing==3.1.1
pypng==0.20220715.0
python-dateutil==2.8.2
pyyaml==6.0
scipy==1.10.1
tomli==2.0.1
tqdm==4.66.2
yapf==0.33.0
zipp==3.17.0